:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --blue: #002c45;
  --tan: #ac8b61;
  --charcoal: #25292d;
  --gray: #595659;
  --white: #fff;
}

* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

.root-main {
  padding-top: 60px;
  padding-bottom: 60px;
  min-height: calc(100vh - 120px);
}

